NODE_ENV=development
DATABASE=either mongolab or a local database
MAIL_USER=c28f5c3e1cb2ed
MAIL_PASS=c344c6b8f828d3
MAIL_HOST=mailtrap.io
MAIL_PORT=2525
PORT=7777
MAP_KEY=generate your google maps api key
SECRET=snickers
KEY=sweetsesh
