extends layout

include mixins/_imageCard
include mixins/_pagination

block content
  .inner
    // h2= title
    .images
      each image in images
        +imageCard(image)
    +pagination(page, pages, count)